# Terraform cache/state
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan

# SSH private keys
keys/*.pem
*.pem

# AWS credentials
.aws/
credentials

# Editor / OS
.vscode/
.DS_Store